body {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    color: green;
    background-color: #d0d0d0;
}

header {
    text-align: center;
    color: white;
    background-color: #507299;
}

footer {
    height: 2%;
    padding: 5px;
    text-align: center;
    color: gray;
    background-color: white;
}

.body-flex {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #edeef0;
}

nav {
    flex-basis: 9em;
    padding: 1em 1em 0 1em;
    /* background-color: red; */
}

nav a {
    display: block;
    /* margin-bottom: 1em; */
    padding: 0.5em;
    color: #507299;
    text-decoration: none;
}

nav a:hover {
    background-color: #e1e5eb;
}

.content-column {
    flex-basis: 30em;
    padding: 1em;
}

.pub {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: justify;
    background-color: white;
}

.pub_activity_row {
    border-top: 2px solid #d0d0d0;
}