body {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    color: green;
    background-color: #d0d0d0;
}

header {
    padding: 8px;
    padding-left: 14%;
    color: white;
    background-color: #507299;
    position: sticky;
    top: 0;
}

footer {
    height: 2%;
    padding: 5px;
    text-align: center;
    color: gray;
    background-color: white;
}

.body-flex {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #edeef0;
}

nav {
    display: flex;
    flex-direction: column;
    flex-basis: 13em;
    padding: 1em 1em 0 1em;
}

nav a {
    padding: 0.5em;
    color: #2e5473;
    text-decoration: none;
}

nav a:hover {
    background-color: #e1e5eb;
}

.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.pub {
    width: 26em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: justify;
    background-color: white;
}

.pub p {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #2e5473;
}

aside {
    padding: 0;
    top: 47px;
    position: sticky;
    align-self: flex-start;
}

aside div {
    width: 160px;
    margin: 30px 0 0 180px;
    padding: 10px 0px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: white;
}

aside div p {
    margin: 15px 15px;
    padding: 0;
    background-color: #edeef0;
}

aside div h4 {
    margin: 15px 15px;
    padding: 0;
}

@media all and (max-width: 70em) {
    aside{
      display: none;
    }
}

@media all and (max-width: 42em) {
    .body-flex {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        flex-basis: 7em;
        flex-wrap: wrap;
        justify-content: center;
    }
}